@import url('main.css');

.layout {
    background: white;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: #000000;
    white-space: nowrap;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 2rem 0;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: rgb(60, 60, 60);
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 240vh;
}

.text-container {
    width: 45%;
    padding: 2rem 2rem; 
}

.image-container {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.image-container img {
    padding: 1.5rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.25rem;
    display: block;
    filter: grayscale(100%);
}

main {
    text-align: center;
    padding: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    height: 80px;
}

footer a {
    font-size: 2rem;
    margin: 0 10px;
    color: #353535;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #000000;
}

.logo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    color: #000000;
    text-decoration: none;
    margin: 1rem 2rem;
    display: inline-block;
}